<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CalculoAposentadoria"
        tools:targetApi="31" >

        <!-- Definir o nosso Activity -->
        <activity android:name=".MainActivity">
            <!-- filtros de intenção (abrir um imagem e android e pede para selecionar qual)-->
            <intent-filter>
                <!--  config de Action (vai dizer qual ação aquela activity aceita)
                      doc sobre actions: https://developer.android.com/guide/topics/manifest/action-element.html -->
                <!-- informa ao sistema que essa é a activity principal-->
                <action android:name="android.intent.action.MAIN"></action>
                <!-- Definir o tipo de activity-->
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>

    </application>
</manifest>